/* основной цвет текста #212121 */
/* вторичный цвет текста #757575 */
/* белый #FFFFFF */
/* акцент #2196F3 */
body {
  background-color: #fff;
  color: #757575;
  font-family: roboto, sans-serif;
}
/* logo */
.logo {
  font-family: raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: #2196f3;
}
.logo .black {
  color: #000;
}
/* site-nav */
.site-nav a {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}
/* site-contacts */
.site-contacts .link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.site-contacts .link:hover,
.site-contacts .link:focus {
  color: #2196f3;
}
/*footer-section */
.footer-section {
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
  background-color: #2f303a;
}
.logo .white {
  color: #ffffff;
}
.footer-section .link {
  color: rgba(255, 255, 255, 0.6);
}
.footer-section .link:hover,
.footer-section .link:focus {
  color: #2196f3;
}

/* hero */
.hero {
  background-color: #2f303a;
}
.hero h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: #ffffff;
}
.hero .buttons {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  border-radius: 4px;
  color: #ffffff;
  background: #2196f3;
}
/* section-advantage */
.section-advantage .meaning {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.section-advantage .example {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* section-line */
.section-line h2 {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
/*section-employee  */
.section-employee h2 {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.section-employee .name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: #212121;
}
.section-employee .department {
  font-size: 16px;
  line-height: 1.18;
}

/* portfolio buttons  */
.section-button .buttons {
  background-color: rgba(245, 244, 250, 1);
  border-radius: 4px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
}
.section-button .buttons:hover,
.section-button .buttons:focus {
  background-color: #2196f3;
  color: #ffffff;
}
.section-portfolio h3 {
  font-size: 18px;
  line-height: 2;
  color: #212121;
}
.section-portfolio p {
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}
